<div class="ui-g">
	<ng-container *ngIf="attachments else noAttachmentBlock">
	<div *ngFor="let attachment of attachments" class="ui-g-12">
		<p-panel class="an-attachment-header" header="{{attachment.name}}" [toggleable]="true"
			[collapsed]="false">
		<div class="ui-g">
			<div class="ui-g-1 ui-g-nopad">
				<i class="fa fa-file-pdf-o fa-2x"></i>
			</div>
			<div class="ui-g-7 ui-g-nopad">
				<strong>{{attachment.name}}</strong>
			</div>
			<div class="ui-g-4 ui-g-nopad">
				<p-splitButton class="an-attachment-btn" label="Download" icon="fa-download"
					(onClick)="download()" [model]="items"></p-splitButton>
			</div>
			<div class="ui-g-4 ui-g-nopad">Author:</div>
			<div class="ui-g-8 ui-g-nopad">{{attachment.author.firstName}}, {{attachment.author.lastName}}</div>
			<div class="ui-g-4 ui-g-nopad">Created:</div>
			<div class="ui-g-8 ui-g-nopad">{{attachment.dateCreated}}</div>
			<div class="ui-g-4 ui-g-nopad">File type:</div>
			<div class="ui-g-8 ui-g-nopad">{{attachment.format}}</div>
			<div class="ui-g-4 ui-g-nopad">Status:</div>
			<div class="ui-g-8 ui-g-nopad">{{attachment.status}}</div>
		</div>
		</p-panel>
	</div>
	</ng-container>
	<ng-template #noAttachmentBlock>
	<div class="ui-g-12">
		<p>No attachment found</p>
	</div>
	</ng-template>
</div>
