<app-note-search></app-note-search>
<app-note-search-result></app-note-search-result>
<app-note-detail></app-note-detail>

<h3 class="first">Basic</h3>
<div class="ui-g">
  <div class="ui-g-1">1</div>
  <div class="ui-g-1">1</div>
  <div class="ui-g-1">1</div>
  <div class="ui-g-1">1</div>
  <div class="ui-g-1">1</div>
  <div class="ui-g-1">1</div>
  <div class="ui-g-1">1</div>
  <div class="ui-g-1">1</div>
  <div class="ui-g-1">1</div>
  <div class="ui-g-1">1</div>
  <div class="ui-g-1">1</div>
  <div class="ui-g-1">1</div>
</div>

<div class="ui-g">
  <div class="ui-g-2">2</div>
  <div class="ui-g-2">2</div>
  <div class="ui-g-2">2</div>
  <div class="ui-g-2">2</div>
  <div class="ui-g-2">2</div>
  <div class="ui-g-2">2</div>
</div>

<div class="ui-g">
  <div class="ui-g-3">3</div>
  <div class="ui-g-3">3</div>
  <div class="ui-g-3">3</div>
  <div class="ui-g-3">3</div>
</div>

<div class="ui-g">
  <div class="ui-g-4">4</div>
  <div class="ui-g-4">4</div>
  <div class="ui-g-4">4</div>
</div>

<div class="ui-g">
  <div class="ui-g-6">6</div>
  <div class="ui-g-6">6</div>
</div>

<div class="ui-g">
  <div class="ui-g-12">12</div>
</div>

<div class="ui-g">
  <div class="ui-g-4">4</div>
  <div class="ui-g-8">8</div>
</div>

<div class="ui-g">
  <div class="ui-g-3">3</div>
  <div class="ui-g-9">9</div>
</div>

<div class="ui-g">
  <div class="ui-g-3">3</div>
  <div class="ui-g-5">5</div>
  <div class="ui-g-4">4</div>
</div>

<div class="ui-g">
  <div class="ui-g-4">4</div>
  <div class="ui-g-2">2</div>
  <div class="ui-g-2">2</div>
  <div class="ui-g-3">3</div>
  <div class="ui-g-1">1</div>
</div>

<div class="ui-g">
  <div class="ui-g-8 ui-g-nopad">
    <div class="ui-g-6">6 <br/><br/><br/> Content</div>
    <div class="ui-g-6">6</div>
    <div class="ui-g-12">12</div>
    <div class="ui-g-4">4</div>
    <div class="ui-g-2">2</div>
    <div class="ui-g-2">2</div>
    <div class="ui-g-3">3</div>
    <div class="ui-g-1">1</div>
  </div>
  <div class="ui-g-2">2</div>
  <div class="ui-g-2">2</div>
</div>
