<p-panel header="Search notes" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
	<div class="ui-g">
		<div class="ui-g-8 ui-g-offset-4 ui-g-nopad"><h4><i>Please select a customer: Ex. 4000098F</i></h4></div>
		<div class="ui-g-9 ui-g-offset-3">
			<div class="ui-inputgroup">
				<span class="ui-inputgroup-addon"><i style="padding: 0 5px;" class="fa fa-user fa-2x"></i></span>
				<input type="text" style="width: 50%;" pInputText [(ngModel)]="searchString" placeholder="Customer number...">
	      	<button pButton style="padding: 0 20px;" type="button" (click)="onSearch()" icon="fa-search fa-2x" pTooltip="Search customer notes" tooltipPosition="top"></button>
			</div>
		</div>
	</div>
	<app-note-search-result *ngIf="searchCustomerAction" (createNoteAction)="onCreateNote($event)" [progress]="progress" [render]="searchCustomerAction" (noteSelection)="onNoteSelection($event)" [customer]="customerFound" [notes]="searchResult"></app-note-search-result>
</p-panel>
<app-note-detail [note]="selectedNote" [attachments]="noteAttachments"></app-note-detail>
<app-note-create [render]="createNoteAction"></app-note-create>
