<p-panel header="Search notes" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
<div class="ui-g">
	<div class="ui-g-12 ui-g-nopad">Search customer: Ex. 4000098F</div>
	<div class="ui-g-9">
		<div class="ui-inputgroup">
			<span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
			<input type="text" pInputText [(ngModel)]="searchString" placeholder="Customer number">
      <button pButton type="button" label="Search" (click)="onSearch()" icon="fa-search"></button>
		</div>
	</div>
	<div class="ui-g-2 ui-g-offset-1">
    <button pButton type="button" class="ui-button-success" label="New"(click)="onCreateNote()" icon="fa-plus"></button>
    <button pButton type="button" class="ui-button-warning" label="Clear" (click)="onClear()" icon="fa-trash-o"></button>
	</div>
</div>
</p-panel>
<app-note-search-result [render]="searchCustomerAction" (noteSelection)="onNoteSelection($event)" [customer]="customerFound" [notes]="searchResult"></app-note-search-result>
<app-note-detail [note]="selectedNote" [attachments]="noteAttachments"></app-note-detail>
<app-note-create [render]="createNoteAction"></app-note-create>
