<p-panel *ngIf="note" header="Note details" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
<div class="ui-g">
	<div class="ui-g-12 ui-g-nopad">
		<!-- 		<p-toolbar> -->
		<div class="ui-toolbar-group-right">
			<button pButton type="button" label="Save" class="ui-button-success" icon="fa-floppy-o"></button>
			<button pButton type="button" label="Edit" class="ui-button-info" icon="fa-pencil"></button>
			<i class="fa fa-bars"></i>
			<button pButton type="button" label="Delete" class="ui-button-danger" icon="fa-trash"></button>
		</div>
		<!-- 		</p-toolbar> -->
		<div>
			<h4>{{note.title}}</h4>
		</div>
		<h5>Created by {{note.author.firstName}}, {{note.author.lastName}} on {{note.dateCreated}}</h5>
		<span *ngIf="note.lastModifiedBy && note.dateModified">
			<h5>Last modified by {{note.lastModifiedBy.firstName}}, {{note.lastModifiedBy.lastName}} on
				{{note.dateModified}}</h5>
		</span>
	</div>
</div>
<hr>
<div class="ui-g">
	<div class="ui-g-6 ui-g-nopad">
		<h4>Source:</h4>
		<input type="text" pInputText placeholder="Username" [(ngModel)]="note.source" disabled="true">
		<h4>Note:</h4>
		<app-note-message [messages]="note.messages"></app-note-message>
		<textarea rows="3" cols="75" pInputTextarea [(ngModel)]="note.content"></textarea>
		<button pButton type="button" label="Send" icon="fa-pencil" class="ui-button-warning"></button>
	</div>
	<div class="ui-g-6 an-vertical-rule">
		<div class="ui-g-12 ui-g-nopad">
			<h4>Attachments:</h4>
			<app-note-attachment></app-note-attachment>
		</div>
	</div>
</div>
</p-panel>

