<div class="ui-g">
  <div class="ui-g-12 ui-g-nopad">
    <p-panel *ngIf="note" header="Note Detail" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
      <div class="col-md-12">
				<p-toolbar>
				<div class="ui-toolbar-group-left">
					<button pButton type="button" label="New" icon="fa-plus"></button>
					<button pButton type="button" label="Open" icon="fa-folder-open"></button>

					<i class="fa fa-bars"></i>
				</div>

				<div class="ui-toolbar-group-right">
					<button pButton type="button" label="Save" icon="fa-search"></button>
					<i class="fa fa-bars"></i>
					<button pButton type="button" label="Edit" icon="fa-refresh"></button>
					<button pButton type="button" label="Delete" icon="fa-trash"></button>
				</div>
				</p-toolbar>
			</div>
			<div class="col-md-12">
				<div>
					<h4>{{note.title}}</h4>
				</div>
				<h5>Created by {{note.author.firstName}}, {{note.author.lastName}} on {{note.dateCreated}}</h5>
				<span *ngIf="note.lastModifiedBy && note.dateModified">
					<h5>Last modified by {{note.lastModifiedBy.firstName}}, {{note.lastModifiedBy.lastName}} on {{note.dateModified}}</h5>
				</span>
				<h4>Source:</h4>
				<input type="text" pInputText placeholder="Username" [(ngModel)]="note.source" disabled="true">
				<h4>Note:</h4>
				<textarea rows="5" cols="100" pInputTextarea [(ngModel)]="note.content" disabled="true"></textarea>
			</div>
    </p-panel>
  </div>
</div>
